
@{
    Layout = null;
}

<meta charset="utf-8" />
<title>ASN LEGAL</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Asn Legal Web Application" name="description" />
<meta content="FV" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- App css -->
<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/jquery-ui.min.css" rel="stylesheet">
<link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" />

<!-- PRINT css -->
@*<link href="~/Content/assets/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/skeleton.css" rel="stylesheet" type="text/css" />*@